.admin-main-nav {
  .nav.nav-pills {
    background-color: var(--quaternary);
    margin-bottom: 0;
  }
}

.admin-controls {
  background-color: var(--primary-low);
  nav {
    background-color: var(--tertiary-hover);
    &::before,
    &::after {
      display: none;
    }
  }
  .nav.nav-pills {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    & > li {
      margin-right: 0.5em;
      a {
        font-size: 1em;
        .active {
          background: var(--quaternary);
          border-radius: 0.5em;
          border: 0;
        }
      }
      a &:last-child {
        margin-right: 0;
      }
    }
  }
}

.admin-content {
  .admin-contents .admin-container {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  .themes-list-header {
    .btn {
      border-radius: 0;
    }
  }
}
