// Category list

.category-list.with-topics {
  box-sizing: border-box;
  display: block;
  margin-top: 85px;
  .subcategories {
    display: none;
  }
  &.category-description {
    color: $grayScarpaFlow;
  }
  thead {
    box-sizing: border-box;
    display: block;
    @media screen and (max-width: 767px) {
      display: none;
    }
    tr {
      display: flex;
      width: 100%;
    }
    th {
      display: inline-block;
      color: $grayScarpaFlow;
      font-size: 0.875rem;
      &.category {
        padding: 0 50px 15px 45px;
      }
      &.latest {
        padding: 0 50px 15px 22px;
      }
    }
  }
  tbody {
    box-sizing: border-box;
    display: block;
    border: none;
    tr {
      display: flex;
      position: relative;
      border: none;
      background: $white;
      margin-bottom: 1.25em;

      &::before {
        box-shadow: 2px 2px 0.5px 0 rgba(0, 0, 0, 0.1);
        mix-blend-mode: multiply;
        content: " ";

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
      td {
        display: inline-block;
      }
      .category {
        border-left: 8px solid;
        @media screen and (max-width: 767px) {
          border-top: 8px solid;
          border-left: none;
        }
        padding: 55px 50px 55px 42px;
        .category-text-title {
          font-size: 1.33rem;
          color: $blueDark;
          font-weight: bold;
          .d-icon {
            color: currentColor;
          }
        }
        .category-description {
          color: $grayScarpaFlow;
          font-size: 1.0833rem;
        }
      }
      .latest {
        padding: 55px 120px 55px 18px;
        @media screen and (max-width: 767px) {
          padding: 0 42px 55px 42px;
        }
        .featured-topic {
          font-size: 1.0833rem;
          @media screen and (max-width: 767px) {
            display: block;
            margin-bottom: 0.5em;
            padding-left: 0;
            .title {
              white-space: normal;
            }
          }
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }
  .category {
    box-sizing: border-box;
    overflow: hidden;
    width: 33.33%;
    @media screen and (max-width: 960px) {
      flex: 0 0 50%;
      overflow: hidden;
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      flex: 0 0 100%;
    }
  }
  .latest {
    box-sizing: border-box;
    width: 66.66%;
    @media screen and (max-width: 960px) {
      flex: 0 0 50%;
      overflow: hidden;
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      flex: 0 0 100%;
    }
  }

  .featured-topic a.last-posted-at,
  .featured-topic a.last-posted-at:visited {
    color: $grayScarpaFlow;
  }
}
