@font-face {
  font-family: "Visby Round CF";
  src: local("Visby Round CF Medium"), local("VisbyRoundCF-Medium"),
    url($visbyrounded-medium2) format("woff2"),
    url($visbyrounded-medium) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Visby Round CF";
  src: local("Visby Round CF ExtraBold"), local("VisbyRoundCF-ExtraBold"),
    url($visbyrounded-extrabold2) format("woff2"),
    url($visbyrounded-extrabold) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
