.d-footer {
  background: #6dbe99;
  padding: 1.5rem 0;
  color: white;
  margin-top: 1em;
  & > .wrap {
    width: calc(100% - 16px);
    max-width: 1110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .contents {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .d-icon-heart {
    color: #e37f7d;
  }
  .rights {
    text-align: center;
    width: 100%;
    a {
      color: white;
      text-decoration: underline;
      transition: all 0.3s ease-in;
      &:hover {
        color: #212121;
      }
    }
  }
  .social {
    display: inline-flex;
    .text-link {
      font-size: 1.25em;
      color: white;
      align-self: center;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: #212121;
        text-decoration: underline;
      }
    }
    .icon {
      display: flex;
      border-radius: 15%;
      width: 2.5em;
      height: 2.5em;
      border: solid 2px white;
      color: white;
      transition: all 0.3s ease-in-out;
      fill: currentColor !important;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-right: 0.75em;

      &:last-child {
        margin-right: 0;
      }

      &:visited {
        color: white;
      }

      & svg {
        width: 1.5em;
        height: 1.5em;
      }

      &:hover {
        text-decoration: none;
        color: white;

        &.facebook {
          border-color: #3b5998 !important;
          color: #3b5998 !important;
        }

        &.youtube {
          border-color: #ff0000 !important;
          color: #ff0000 !important;
        }

        &.linkedin {
          border-color: #0077b5 !important;
          color: #0077b5 !important;
        }

        &.instagram {
          border-color: #e4405f !important;
          color: #e4405f !important;
        }

        &.github {
          border-color: #24292e !important;
          color: #24292e !important;
        }
      }
    }
  }
}

@media screen and (min-width: $small-width) {
  .d-footer {
    & > .wrap {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
