.groups-page,
.admin-interface {
  #main-outlet {
    max-width: 1110px;
    margin: 0 auto;
    width: calc(100% - 0.5em);
    display: flex;
    padding-top: 7rem;

    & > div.container.ember-view {
      width: 100%;
    }
  }
}
