.modal {
  .nav {
    background-color: var(--tertiary-hover);
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    & > li {
      margin-right: 0.5em;
      a {
        font-size: 1em;
        &.active {
          background: var(--quaternary);
          border-radius: 0.5em;
          border: 0;
        }
      }
      a &:last-child {
        margin-right: 0;
      }
    }
  }
}
