// Topic list

#list-area .show-more.has-topics .alert {
  background: var(--tertiary-medium);
  padding: 24px 48px;
  bottom: 17px;
  a {
    color: $white;
  }
  font-size: 1.125rem;
}
#main-outlet > .banner,
.private_message,
.regular[class*="category-"] {
  max-width: 1110px;
  @media screen and (max-width: 1140px) {
    padding: 0 1rem;
  }
  margin: 0 auto;
}

a.badge-notification.new-posts {
  background: $redLavenderBlush;
  color: $redDeepBlush;
}

a.badge-notification.unread-posts {
  background: $grayHaze;
  color: $grayWoodSmoke;
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: $blueLochmara;
}

.topic-statuses {
  .d-icon {
    color: $blueLochmara;
  }
}

.footer-message {
  h3 {
    font-weight: normal;
    color: $blueLochmara;
  }
}

.top-title-buttons {
  display: block;
  margin-top: 0.75em;
  button {
    background: $blueLochmara;
    color: $white;
  }
}

.topic-list {
  margin-top: 2em;
  tbody {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    tr {
      background: $white;
      .main-link {
        padding: 48px;
      }
    }
  }
  td,
  th {
    &.activity,
    &.views,
    &.posts-map {
      padding: 0 24px;
      color: $grayWoodSmoke;
      a {
        color: $grayWoodSmoke !important;
        font-weight: normal !important;
      }
    }
    &.activity {
      padding-right: 48px;
    }
    &.default {
      padding-left: 48px;
    }
  }

  td {
    &.activity,
    &.views,
    &.posts-map {
      font-size: 1.125rem;
    }
  }

  th {
    color: $grayWoodSmoke;
    font-size: 0.875rem;
    padding-top: 0;
    padding-bottom: 37px !important;
    &.sortable {
      white-space: nowrap;
      .d-icon {
        margin-left: 0.25em;
      }
    }
    &.sortable:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  .topic-list-item.visited a.title:not(.badge-notification),
  .latest-topic-list-item.visited a.title:not(.badge-notification),
  .category-topic-link.visited a.title:not(.badge-notification) {
    color: $blueLochmara;
  }
  .link-bottom-line {
    margin-top: 0.75rem;
  }
  .posters > a {
    margin-right: 12px;
    &:last-of-type {
      margin-right: 0;
    }
    &:nth-of-type(2) {
      &:not(:first-of-type):not(:last-child) {
        display: none;
      }
    }
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: $blueLochmara;
}

.topic-statuses {
  .d-icon {
    color: $blueLochmara;
  }
}

.topic-body {
  @media screen and (max-width: 815px) {
    width: calc(100% - 55px);
  }
  @media screen and (max-width: 775px) {
    width: calc(100% - 55px);
  }
}

body[class*="category-"] .topic-list {
  margin-top: 1em;
}

.top-lists {
  margin-top: 1em;
  margin-bottom: -1em;
}
