@import "common/foundation/variables";

$blueWhite: #36a9e1;
$blueDark: #0f76b8;

$redDeepBlush: #e8718b;
$redLightBlush: #ffeef2;

// Originally supplied colors, being remapped to the above list

$grayHaiti: #222222;
$grayScarpaFlow: #1a1a1a;
$grayChatelle: #cccccc;
$grayTitanWhite: #cccccc;
$graySolitude: #f7f7f7;
$white: #ffffff;
