@import "common/foundation/variables";

$bluePicton: #36a9e1;
$blueLochmara: #0f76b8;
$greenSilverTree: #6dbe99;
$redDeepBlush: #e8718b;
$redLavenderBlush: #ffeef2;
$grayShark: #222222;
$grayWoodSmoke: #1a1a1a;
$grayCloud: #cccccc;
$grayHaze: #f7f7f7;
$white: #ffffff;
