@import "fonts";
@import "variables";

.moderator .regular > .cooked {
  background-color: $redLightBlush;
}

// Global styles
body,
html {
  scroll-behavior: smooth;
  font-family: "Visby Round CF", system-ui, -apple-system, "Segoe UI", Roboto,
    Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont,
    "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  background: $graySolitude;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-rendering: optimizeLegibility;
  -moz-font-feature-settings: on;
  font-feature-settings: on;
}

a.badge-notification.new-topic {
  background: transparent;
  padding-left: 0 !important;
  &:before {
    display: none !important;
  }
  &:after {
    content: "novo";
    position: relative;
    margin-top: -1px;
    background: $redLightBlush;
    color: $redDeepBlush;
    padding: 0.2em 0.42em !important;
    border-radius: 100px;
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
}

.moderator .regular > .cooked {
  background-color: $redLightBlush;
}

// Global styles

html {
  font-family: Graphik, sans-serif;
  font-size: 16px;
  background: $graySolitude;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -text-rendering: optimizeLegibility;
  -moz-font-feature-settings: on;
  font-feature-settings: on;
}

body:not(.staff)[class*="category-"] {
  // Hide navigation bar in categories for non-staff
  .list-controls {
    background: transparent;
    box-shadow: none;
    padding-top: 0;
    .select-kit {
      display: none;
    }
  }
}

body[class*="category-"] {
  // Hide navigation, but not category edit controls for staff
  #navigation-bar {
    display: none;
  }
  .list-controls {
    margin-top: 0;
    padding-top: 10px;
  }
}

@import "categoryList";
@import "composer";

@import "footer";
